.Navbar__container {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 5%;
  align-items: center;
}

.Navbar__logo__container {
  flex: 1;
  align-items: center;
}
.Navbar__logo__container h1 {
  font-size: 1.8rem;
  letter-spacing: 1.3px;
  color: var(--secondary-color);
}

.Navbar__nav__links {
  flex: 1;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.Navbar__nav__link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
.Navbar__login {
  flex: 1;
  text-align: right;
  text-decoration: none;
}
.Navbar__login span {
  background-color: var(--tertiary-color);
  padding: 10px 30px;
  color: var(--secondary-color);
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
}
.Navbar__menu__icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .Navbar__nav__links {
    flex-direction: column;
    width: 100%;
    position: absolute;
    height: 200px;
    top: 10vh;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .active {
    background-color: var(--primary-light-color);
    left: 0;
    transition: all 0.5s ease;
    z-index: 100;
  }

  .Navbar__nav__link {
    text-align: center;
    padding: 0;
    width: 100vh;
  }
  .Navbar__menu__icon {
    display: flex;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    color: var(--secondary-color);
    transition: 0.8s ease;
  }
}
