.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-dark-color);
  overflow: hidden;
}
.footer__company {
  flex: 1.5;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.footer__company h1 {
  font-size: 2rem;
  text-align: center;
  flex: 1;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--tertiary-color);
}
.footer__company p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.footer__contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: var(--tertiary-color);
  margin-bottom: 2rem;
}
.footer__contact p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}
@media screen and (max-width: 700px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer__company h1 {
    border: none;
  }
  .footer__company p {
    border-bottom: 1px solid var(--tertiary-color);
  }
}
