.Login__container {
  width: 35%;
  min-width: 500px;
  background-color: #f4ededb6;
  border-radius: 20px;
  margin: 4rem auto 1rem auto;
  padding: 4rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.Login__container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}
.Login__button {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.Login__button {
  background-color: var(--primary-color);
  padding: 8px 40px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 60px;
  margin: 10px 0 30px 0;
  border: none;
}
@media screen and (max-width: 600px) {
  .Login__container {
    width: 90%;
    min-width: 320px;
    padding: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .Login__container {
    width: 95%;
    min-width: 250px;
    padding: 3rem 1rem;
  }
}
@media screen and (max-width: 350px) {
  .Login__container {
    width: 95%;
    min-width: 250px;
    padding: 3rem 1rem;
  }
}
