@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1b6;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  background: #f2c94c;
}
.App {
  height: auto;
  width: 100%;
  position: absolute;
  background-image: url("./assets/images/bg.png");
  background-size: 300px;
}

.App__navbar {
  height: 8vh;
  width: 90vw;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.App__main {
  height: auto;
  margin: 0 auto;
  min-height: 95vh;
}
.input__label {
  font-size: 0.9rem;
  color: #2064a3;
}
.input__div {
  margin: 5px 0 25px 0;
}
.input__text {
  width: 100%;
  padding: 10px 1rem;
  background-color: #fff;
  border-radius: 6px;
  font-size: 1rem;
}

.error__label {
  color: red;
  font-size: 0.7rem;

  position: absolute;
}
