@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
:root {
  --primary-color: #1fbd8b;
  --primary-dark-color: #104d39;
  --primary-light-color: #38ca9c;
  --secondary-color: #0f1c38;
  --secondary-light-color: #1a3264;
  --tertiary-color: #fffb92;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border: 1px solid var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
}
html {
  overflow-x: hidden;
}
body {
  width: 100vw;
}
.App {
  height: auto;
  width: 100%;
  position: absolute;
  background-size: 300px;
  overflow-x: hidden;
}

.App__navbar {
  height: 10vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.App__footer {
  width: 100%;
  position: relative;
}

.App__main {
  height: auto;
  margin: 0 auto;
  min-height: 95vh;
}
.input__label {
  font-size: 0.9rem;
  color: var(--secondary-color);
}
.input__div {
  margin: 5px 0 10px 0;
}
.input__text {
  width: 100%;
  padding: 10px 1rem;
  background-color: #fff;
  border-radius: 6px;
  font-size: 1rem;
  border: none;
}

.error__label {
  color: red;
  font-size: 0.7rem;
  position: absolute;
}

.input__preview {
  display: flex;
  justify-content: space-between;
}
.input__file__button {
  background-color: var(--primary-light-color);
  padding: 8px 40px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 60px;
  margin: 10px 0;
  border: none;
}
.form__error {
  color: red;
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0;
}
